html, body{
    height: 100%;
}

fieldset{
    height: 95%;
}

div{
    padding: 0.5%;
    margin: 0.5%;
    width: 100%;
    min-height: 70%;
    height: 100%;
    overflow: hidden;
}

.insider{
    height: 97%;
}

.bruh{
    display: inline-flex;
    height: 70%;
}

#IDE{
    width: 60%;
}
#MemoryViewer{
    width: 30%;
}
#Console{
    width: 94%;
    min-height: 18%;
    height: 18%;
}

textarea{
    width: 98%;
    height: 92%;
    resize: none;
}

#Console textarea{
    height: 75%;
}

#MemoryViewer div{
    color: grey;
}

.active{
    color: red;
}

.used{
    color:black;
}
